.green {
    color: green;
}
.red {
    color: red;
}
.yellow{
    color: yellow;
}
.yellow:hover,.red:hover,.green:hover{
    background-color: violet;
}
table,th,tr,td{
    border:1px solid black;
}